/* IMPORTANT */
/* CHOOSE 1 PRIMARY / 1 SECONDARY FONT - REMOVE OTHER */
/* @font-face {
  font-family: Optimistic Display;
  src: url('./assets/optimistic/Optimistic_Display_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Optimistic Display;
  src: url('./assets/optimistic/Optimistic_Display_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./assets/roboto/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular') url('./assets/roboto/roboto-v30-latin-regular.woff2') format('woff2');
} */

/* exo-2-regular - latin */
/* @font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/exo2/exo-2-v20-latin-regular.woff2') format('woff2');
} */

/* exo-2-500 - latin */
/* @font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/exo2/exo-2-v20-latin-500.woff2') format('woff2');
  ;
} */

/* exo-2-700 - latin */
/* @font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/exo2/exo-2-v20-latin-700.woff2') format('woff2');
} */

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/openSans/open-sans-v34-latin-regular.woff2') format('woff2'),
    url('./assets/openSans/open-sans-v34-latin-regular.woff') format('woff');
}

/* open-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/openSans/open-sans-v34-latin-500.woff2') format('woff2'),
    url('./assets/openSans/open-sans-v34-latin-500.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/openSans/open-sans-v34-latin-700.woff2') format('woff2'),
    url('./assets/openSans/open-sans-v34-latin-700.woff') format('woff');
}

:root {
  /* font */
  /* CHOOSE ONE PRIMARY/SECONDARY FONT */

  /* --primaryFont: Roboto, Helvetica, Arial, sans-serif; */

  /* --primaryFont: "Exo 2", -apple-systexm, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

  /* --secondaryFont: Optimistic Display, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif; */
  
  --primaryFont: "Open Sans", -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

  /* component constants */
  --sidebarOpen: 18rem;
  --sidebarCollapsed: 4rem;
  --headerHeight: 4rem;
  --bodyOffset: 4rem;
  --trans-all--sm: all 100ms ease-in-out;
  --trans-all--md: all 200ms ease-in-out;
  --trans-bg--sm: background 100ms ease-in-out;

  /* z-indices */
  --z-body: 100;
  --z-footer: 200;
  --z-header: 300;
  --z-sidebar: 400;
  --z-tooltip: 900;
  --z-modal-backdrop: 950;
  --z-modal: 1000;
  --z-overlay: 1100;
  --z-toast: 1200;

  --overlaysm: rgba(0, 0, 0, .2);
  --overlaymd: rgba(0, 0, 0, .5);
  --overlaylg: rgba(0, 0, 0, .7);
  --error-bg: #4b2528;
  --error-border: 1px solid #b93e3e;

  --box-shadow-md:
    rgba(0, 0, 0, 0.10) 0 3px 3px 0,
    rgba(0, 0, 0, 0.10) 0 6px 6px 0;
  --box-shadow-xl:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  --box-shadow-toast:
    rgba(0, 0, 0, 0.05) -3px -3px 2px 1px,
    rgba(0, 0, 0, 0.05) 3px 3px 2px 1px,
    rgba(0, 0, 0, 0.05) 2px -1px 2px 2px,
    rgba(18, 18, 19, 0.05) -2px -1px 2px 0px;
  --box-shadow-sidebar:
    rgba(0, 0, 0, .30) 0px 4px 6px 1px,
    rgba(0, 0, 0, .14) 0px 8px 10px 2px;

  /*  use for border bottom of header if you like box shadow headers
    --box-shadow-header:
      rgba(0, 0, 0, 0.05) 0px 2px 1px 2px,
      rgba(0, 0, 0, .15) 0px 0px 3px 2px; */
}

/* THEMES : inject @ <html>
============================*/
.theme__dark {
  --white0: #f6f9fb;
  --white1: #ebf1f6;
  --white2: #c0d7ed;

  --black0: #0e1011;
  --black1: #131516;
  --black2: #1b1f21;
  --black3: #191c1d;

  --mdgrey1: #212529;
  --mdgrey2: #32393f;
  --darkgrey1: #1f2223;
  --darkgrey2: #111314;

  --primary1: #2874ae;
  --primary2: #04508a;
  --primary3: #003b5b;
  --primary4: #022b41;
  --primarylight1: #44adfd;
  --primarylight2: #84cee4;
  --primarydark1: #003b5b;
  --primarydark2: #212629;

  --tooltipbg: #262a2c;
  --tooltipcolor: #e4ffff;

  --scrollthumb: #484e51;
  --scrollthumbhover: #505659;

  --placeholder: #81929e;
  --placeholder2: #a3b4c0;

  --btn-primary--color: #edf3f9;
  --btn-dark-background: #0f1112;
}

/* https://colorhunt.co/palette/2c33332e4f4f0e8388cbe4de */
.theme__medium {
  --white0: #e7f4f4;
  --white1: #E2FFFF;
  --white2: #E2FFFF;

  --black0: #111417;
  --black1: #1c2023;
  --black2: #232a2d;
  --black3: #2a3033;

  --mdgrey1: #2e373b;
  --mdgrey2: #2e373b;
  --darkgrey1: #1c1e1f;
  --darkgrey2: #2e373b;

  --primary1: #0c6467;
  --primary2: #004b4c;
  --primary3: #002e2e;
  --primary4: #002e2e;
  --primarylight1: #09b5b5;
  --primarylight2: #25ffff;
  --primarydark1: #15191b;
  --primarydark2: #002e2e;

  --tooltipbg: #262d30;
  --tooltipcolor: #e6ffff;

  --scrollthumb: #484e51;
  --scrollthumbhover: #505659;

  --placeholder: #8696a1;
  --placeholder2: #a6b9c8;

  --btn-primary--color: #E2FFFF;
  --btn-dark-background: #22272b;
}

.theme__light {
  --white0: #f5f9ff;
  --white1: #33373a;
  --white2: #2e353a;

  --black0: #f2f5f8;
  --black1: #eff3f7;
  --black2: #dae0e9;
  --black3: #d7e1ee;

  --mdgrey1: #3c4043;
  --mdgrey2: #3c4043;
  --darkgrey1: #cbd0d4;
  --darkgrey2: #b2c4de;

  --primary1: #427fd4;
  --primary2: #1652A7;
  --primary3: #113669;
  --primary4: #3a7fe0;
  --primarylight1: #111314;
  --primarylight2: #3c4043;
  --primarydark1: #3c4043;
  --primarydark2: #3c4043;

  --tooltipbg: #3e4242;
  --tooltipcolor: #fff;

  --scrollthumb: #778085;
  --scrollthumbhover: #666d71;

  --placeholder: #34373a;
  --placeholder2: #282f34;

  --btn-primary--color: #fff;
  --btn-dark-background: #F7F7F7;
}

html,
body,
aside,
main,
div,
form,
h1,
h2,
h3,
h4,
input,
label,
li,
p,
select,
span,
textarea,
ul {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  font-size: 16px;
}

:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: var(--primaryFont);
  font-size: 1rem;
}

body,
html {
  -webkit-text-size-adjust: 100%
}

.theme__preload {
  display: none;
}

body {
  background: var(--black1);
  color: var(--white1);
  font-family: var(--primaryFont);
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* general resets
============================*/
h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0
}

h3 {
  font-size: 1.17em;
  margin: 1em 0
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  color: var(--white1);
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  text-transform: none
}

button,
select {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: var(--primarylight2);
  outline: 0;
  text-decoration: none;
}

:link img,
:visited img,
a img {
  border: none
}

/* FORM
============================*/
/* handle certain errors by toggling the following */
.form-err--target__input input,
.form-err--target__button button,
.form-err--target__select .select,
.form-err--target__all {
  outline: var(--error-border) !important;
  background: var(--error-bg) !important;
  color: #fee9e9 !important
}

/* textarea base style
============================*/
textarea {
  border: 1px solid var(--darkgrey1);
  background: var(--black2);
  border-radius: 4px;
  padding: 4px;
  transition: all 150ms ease-in-out;
}

textarea:focus {
  background: var(--black1);
  outline: none
}

/* make resizer solid & grey */
textarea::-webkit-resizer {
  border-color: transparent var(--mdgrey2) var(--mdgrey2) transparent;
  border-style: solid;
  border-width: 8px
}

textarea::-webkit-scrollbar-thumb {
  border: 4px solid var(--black1)
}

/* input/textarea placeholder
============================*/
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--placeholder);
  opacity: 1
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--placeholder);
  opacity: 1
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
  opacity: 1
}

svg {
  fill: var(--white1);
  height: 1.2em;
  width: 1.2em;
  pointer-events: none !important;
  user-select: none !important;
}

/* webkit : scrollbar
============================*/
::-webkit-scrollbar {
  height: 18px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollthumb);
  border: 2px solid var(--black1);
  border-radius: 12px;
  min-height: 60px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollthumbhover)
}

::-webkit-scrollbar-track {
  background: transparent
}

/* webkit specific : resets
============================*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  appearance: button
}

/* moz specific : resets
============================*/
::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none;
}

[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* helpers
============================*/
.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}

.align-bottom {
  margin-top: auto;
}

/* apply to off screen aria elements */
[disabled] {
  pointer-events: none !important;
  user-select: none !important;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlaymd);
  z-index: var(--z-modal-backdrop);
}

.modal-backdrop-hide {
  display: none;
}

/* DEBUG
==========*/
.disable-transitions * {
  -webkit-transition: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important
}

.debug {
  border: 1px solid red !important
}

/* QUERIES
===============*/
@media screen and (max-width: 820px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-height: 500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 10px;
  }
}